<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.fcrm.edupalu"
        versionCode = "13" 
        version     = "1.1" >
        
    <!-- versionCode is optional and Android only. It must be an integer -->
    

    <name>LAB PHONEGAP</name>

    <description>
        Mes premiers test sur Adobe Phonegap
    </description>

    <author href="http://2codeurs.blogspot.com" email="orionwambert@gmail.com">
        Orion WAMBERT 
    </author>

    <!-- build only for android -->
    <platform name="android" />

     <platform name="ios" />

    <!-- icon -->
    <icon src="res/mipmap-mdpi/ic_launcher.png" />


    <!-- no permission required -->
    <preference name="permissions" value="none" />
  
    <!-- plugin for geolocation -->
    <!-- https://build.phonegap.com/plugins/5538 -->

    <!-- plugin for whitelist url / protocols -->
    <plugin name="cordova-plugin-whitelist" />
    <!-- Allow links to web pages to open in a browser -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- Allow tel: links to open the dialer -->
    <allow-intent href="tel:*" />


    <!-- access to external links -->
    <access origin="*" browserOnly="true"/>
    <!-- allow phone number dialing from app -->
    <access origin="tel:*" launch-external="yes" />

    <preference name="fullscreen" value="false" />

    <preference name="stay-in-webview" value="false"/>

</widget>



