body{
		margin: 0;
		font-size: 20px;
		font-style: italic;
		font-family: "tw cen mt";
		text-align: center;
}



header{
	background: #3bc2fe;
	width: 100%;
	height: 40px;
}

header span{
	font-style: normal;
	color: white;
	font-weight: bold;
	font-size: 30px;
	float: left;
}